@tailwind base;
@tailwind components;
@tailwind utilities;
@charset "UTF-8"

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

@font-face {
  font-family: "Andale Mono";
  src: url(/fonts/andale-mono.ttf);
}

* {
  font-family: "Andale Mono";
}
header {
  font-family: "Andale Mono";
  letter-spacing: 0.2em;
}

/* ここから */

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  color: #ffffff;
  background-color: #121212;
}

body,
h1,
h2,
h3,
p,
figure,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 基本：リンク */
a {
  color: inherit;
  text-decoration: none;
}

/* 基本：スクリーンリーダー用テキスト */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* コンテナ */
.container {
  width: 92%;
  max-width: 1214px;
  margin-left: auto;
  margin-right: auto;
}

/* メインコンテンツ */
main section {
  margin: 36px 0;
  padding: 31px 10px 43px;
  border-radius: 20px;
  background-color: #ffffff;
  color: #121212;
}

main section.showdown {
  margin-top: -90px;
}

main h2 {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}

main h2 + p {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 768px) {
  main section {
    padding: 58px 50px 70px;
  }

  main h2 {
    font-size: 32px;
    text-align: left;
  }

  main h2 + p {
    text-align: left;
  }
}

/* フッター */
.footer {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .footer {
    margin-top: 120px;
    margin-bottom: 82px;
  }
}

/* フッター：メニュー */
.menus {
  display: flex;
  flex-wrap: wrap;
}

.menus > * {
  width: 50%;
  margin-bottom: 60px;
}

.menus h3 {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 900;
}

.menu-text li {
  margin-right: 10px;
  font-size: 13px;
  opacity: 0.8;
}

.menu-text li:not(:last-child) {
  margin-bottom: 12px;
}

.menu-sns ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: -20px;
}

.menu-sns img {
  width: 35px;
  height: auto;
  margin-right: 33px;
  margin-bottom: 20px;
  opacity: 0.8;
}

@media (min-width: 768px) {
  .menus {
    flex-wrap: nowrap;
    max-width: 1000px;
  }

  .menu-text li {
    font-size: 16px;
  }

  .menu-text li:not(:last-child) {
    margin-bottom: 7px;
  }
}

/* フッター：帰属情報 */
.attribution .site {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 900;
}

.attribution .site img {
  width: 32px;
  height: auto;
  margin-right: 16px;
}

.attribution .copyright {
  margin-top: 16px;
  margin-bottom: 42px;
  font-size: 14px;
}

.attribution .teamlogo {
  font-size: 14px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .attribution {
    display: flex;
    justify-content: space-between;
  }

  .attribution .copyright {
    margin-bottom: 0;
  }
}

/* フッター：装飾 */
.footer {
  position: relative;
}

.footer-deco {
  position: absolute;
  top: -89px;
  right: -149px;
  z-index: -1;
  width: 406px;
  height: auto;
  opacity: 0.22;
  transform: rotate(-56deg);
}

html,
body {
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .footer-deco {
    top: -138px;
    right: -112px;
  }
}

/* ヒーロー：イメージ */
.hero {
  position: relative;
  /* height: 882px; */
}

.hero-placeholder,
.hero-placeholder::before,
.hero-placeholder::after,
.hero-main,
.hero-main::before,
.hero-main::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero-placeholder::before,
.hero-main::before {
  content: "";
  background-color: #121212;
  opacity: 0.8;
  mix-blend-mode: hue;
}

.hero-placeholder::after,
.hero-main::after {
  content: "";
  background-color: #000000;
  opacity: 0.5;
}

.hero-main {
  animation: hero-main 3s ease-in-out 1s backwards;
}

@keyframes hero-main {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ヒーロー：コンテンツ */
.hero {
  display: flex;
  align-items: center;
}

.hero figure img {
  display: block;
  width: 151px;
  height: auto;
  margin: 0 auto 35px;
}

.hero .text {
  width: 313px;
  margin: auto;
  letter-spacing: 0.2em;
}

.hero h1 {
  white-space: nowrap;
  line-height: 1.3;
}

.hero .title01 {
  display: block;
  font-size: 36px;
  font-weight: 400;
}

.hero .title02 {
  display: block;
  font-size: 16px;
  font-weight: 900;
}

.hero .title03 img {
  width: 40px;
  margin-left: 45px;
}

.hero p {
  font-size: 16px;
  line-height: 1.8;
}

.bridge {
  margin-top: 64px;
  margin-bottom: 64px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.2em;
}

.bridge p {
  margin: 10px;
}

@media (min-width: 768px) {
  .contents {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .contents > * {
    flex: 1;
  }

  .hero figure img {
    width: 330px;
    max-width: 70%;
    margin-bottom: 0;
  }

  .hero .text {
    width: auto;
    padding-left: 50px;
    letter-spacing: 0.2em;
  }
}

@media (min-width: 1000px) {
  .hero .title01 {
    font-size: 48px;
  }
  .hero .title02 {
    font-size: 24px;
  }
  .hero .title03 img {
    width: 62px;
    margin-left: 72px;
  }

  .hero p {
    font-size: 24px;
  }
}

@media (max-width: 359px) {
  .hero .contents {
    transform: scale(0.8);
  }
}

/* ヒーロー：タイトルのアニメーション */
.title01,

.title03 {
  overflow: hidden;
  height: 1.3em;
}

.title01 > span,
.title02 > span,
.title03 > span {
  animation: 1s title ease-in-out;
  display: block;
}

@keyframes title {
  0% {
    transform: translate(0, 1.3em);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* ヘッダー */
.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
}

/* ヘッダー：サイト名 */
.header .site {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 900;
  opacity: 0.8;
}

.header .site img {
  width: 32px;
  height: auto;
  margin-right: 6px;
  opacity: 0.8;
}

/* ナビゲーションボタン */
.navbtn {
  width: 24px;
  height: 24px;
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 200;
}

.navbtn-bar {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  height: 2px;
  background-color: currentColor;
  color: #ffffff;
  opacity: 0.8;
  transition: background-color 0.5s;
}

.navbtn-bar::before,
.navbtn-bar::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  transition: transform 0.5s;
}

.navbtn-bar::before {
  transform: translateY(-7px);
}

.navbtn-bar::after {
  transform: translateY(7px);
}

.open .navbtn-bar {
  background-color: transparent;
}

.open .navbtn-bar::before {
  transform: translateY(0) rotate(225deg);
}
.open .navbtn-bar::after {
  transform: translateY(0) rotate(-225deg);
}

/* ナビゲーションメニュー */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  padding-top: 98px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
}

.open .nav {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s;
}

html.open,
.open body {
  height: 100%;
  overflow: hidden;
}

.nav-menu a {
  display: block;
  padding: 20px;
  border-top: solid 1px #eeeeee;
  font-size: 16px;
  font-weight: bold;
}

.nav-menu li:last-child a {
  border-bottom: solid 1px #eeeeee;
}

.nav-menu span {
  display: block;
  margin-top: 6px;
  font-size: 8px;
  font-weight: normal;
}

.nav-pc a {
  display: block;
  padding: 12px;
  font-size: 12px;
  font-weight: bold;
  opacity: 0.8;
}

.nav-sns {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
.nav-sns li {
  margin: 30px 10px 0;
}

/* ここまで */

.cat {
  margin-bottom: 64px;
}

.cat h2 {
  font-size: 64px;
  transform: translateX(-6%);
  opacity: 0.3; 
}
